#polan-products{
    padding: 50px 15px;
    overflow: hidden;
    @include breakpoint (medium up) {
        padding: 100px 40px 50px 40px;
    }
    // @include breakpoint (mediumx up) {
    //    padding-left: 145px;
    // }
    @include breakpoint (large up) {
        padding: 100px 40px;
    }
    @include breakpoint (xlarge up) {
        padding: 110px 0px;
        padding-left: 315px;
        padding-right: 40px;
    }
    h3{
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 30px;
        @include breakpoint (large up) {
            font-size: 30px;
            padding-bottom: 50px;
        }
    }
    .polan-products-text-wrapper{
        position: relative;
        width: 100%;
        @include breakpoint (large up) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include breakpoint (xlarge up) {
            max-width: 890px;
        }
        @media screen and (min-width: 1306px){
            max-width: 1000px;
        }
        .polan-products-text{
            margin-bottom: 30px;
            padding-left: 35px;
            padding-right: 35px;
            position: relative;
            @include breakpoint (medium up) {
                padding-left: 0;
                max-width: 567px;
            }
            @include breakpoint (mediumx up) {
                max-width: 610px;
            }
            @include breakpoint (large up) {
                padding: 0;
                max-width: unset;
                flex: 0 0 45%;
            }
            h5{
                font-size: 14px;
                font-weight: 700;
                font-family: 'Amiri';
                padding-bottom: 12px;
                @include breakpoint (large up) {
                    font-size: 18px;
                }
            }
            p{
                font-size: 12px;
                color: #707070;
                font-family: 'Bahnschrift';
                line-height: 25px;
                @include breakpoint (large up) {
                    font-size: 16px;
                }
            }
            &:first-child{
                @include breakpoint (medium up) {
                    padding-left: 0;
                    padding-right: 180px;
                    .polan-products-img-container{
                        right: -239px;
                    }
                }
                @media screen and (min-width: 768px){
                    .polan-products-img-container{
                        position: absolute;
                        display: inline-block;
                        top: 60px;
                        text-align: center;
                        right: -50px;
                        left: 510px;
                        width: 390px;
                    }
                }
                @include breakpoint (large up) {
                    padding: 0;
                    margin-bottom: 70px;
                    .polan-products-img-container{
                        display: none;
                    }
                }
                @include breakpoint (xlarge up) {
                    
                }
            }
            &:nth-child(2){
                @include breakpoint (medium up){
                    padding-left: 145px;
                    margin-left: auto;
                    .polan-products-img-container{
                        left: -720px;
                    }
                }
                @media screen and (min-width: 768px){

                    .polan-products-img-container{
                        position: absolute;
                        display: inline-block;
                        top: 60px;
                        text-align: center;
                        right: 0;
                        left: -310px;
                        width: 390px;
                    }
                }
                @include breakpoint (large up) {
                    padding: 0;
                }
                .polan-products-img-container{
                    display: none;
                    @include breakpoint (medium up) {
                        display: block;
                    }
                    @include breakpoint (large up) {
                    display: none;
                    }
                }
           
            }
            &:last-of-type{
                margin-bottom: 0;
                max-width: unset;
                .polan-products-img-container{
                    display: none;
                }
                @include breakpoint (large up) {
                    padding: 0;
                    flex: 0 0 70%;
                }
                @include breakpoint (xlarge up) {
                    .polan-products-img-container{
                        display: block;
                        right: -470px;
                    }
                }
            }
        }
        .polan-products-img-container{
            width: 100%;
            text-align: center;
            @include breakpoint (medium up) {
                position: absolute;
                display: inline-block;
                top: 60px;
                text-align: center;
                right: 0;
                width: unset;
            }
            @include breakpoint (large up) {
                display: none;
            }
            // &:last-of-type(){
            //     display: none;
            //     @include breakpoint (medium up) {
            //         display: block;
            //         position: absolute;
            //         display: inline-block;
            //         top: 420px;
            //         text-align: center;
            //         left: -40px;
            //         width: unset;
            //         right: unset;
            //     }
            //     @include breakpoint (large up) {
            //         display: none;
            //     }
            //     @include breakpoint (xlarge up) {
            //         display: block;
            //         left: unset;
            //         top: unset;
            //         right: -150px;
            //         bottom: 0;
            //     }
            // }
        }
        .polan-img-xl{
            display: none;
            @include breakpoint (large up) {
                display: block;
                position: absolute;
                top: 380px;
                right: -410px;
                width: 670px;
            }
            @media screen and (min-width: 1108px){
                top: 320px;
            }
            @include breakpoint (xlarge up){
                top: -150px;
                right: unset;
                left: -700px;
            }
        }
    }
}

