#products{
    position: relative;
    overflow: hidden;
    padding: 0px 15px 20px;
    @include breakpoint (medium up) {
        padding: 0px 40px 16px;
    }
    @include breakpoint (large up) {
        padding: 0px 40px 40px;
    }
    @include breakpoint (xlarge up) {
        padding: 0px 0 40px;
    }
    .title{
        padding-top: 0;
        padding-bottom: 30px;
        @include breakpoint (medium up) {
            padding-bottom: 40px;
        }
        @include breakpoint (large up) {
            padding-bottom: 50px;
        }
        @include breakpoint (xlarge up) {
            padding-bottom: 60px;
        }
    }
    .products-wrapp-no-slider{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
        margin: 0 -45px;
        @include breakpoint (medium up) {
            margin: 0 -20px;
        }
        @include breakpoint (large up) {
            margin: 0 -30px;
        }
        .product{
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            flex:  0 0 46%;
            padding: 0 20px;
            align-items: self-start;
            transition: .2s ease-in-out;
            cursor: pointer;
            &:hover{
                img{
                transition: .2s ease-in-out;
                transform: scale(1.1);
                opacity: 1;
                }
            }
            @include breakpoint (medium up) {
                flex: 0 0 33%;
                padding: 0 15px;
                
            }
            @include breakpoint (large up) {
                padding: 0 28px;
                margin-bottom: 55px;
            }
            @include breakpoint (xlarge up) {
                width: 25%;
                flex: 0 0 25%;
                padding: 0 30px;
                align-items: stretch;
            }
            img{
                width: 100%;
                min-height: 183px;
                transition: .2s ease-in-out;
                opacity: 0.8;
                cursor: pointer;
                @include breakpoint (xlarge up) {
                   height: 255px;
                }
            }
            .product-text{
                padding: 15px;
                width: 85%;
                margin: -28px auto 0;
                min-height: 76px;
                display: flex;
                align-items: center;
                z-index: unset;
                @include breakpoint (xlarge up) {
                    display: block;
                    padding: 10px 35px 20px 35px;
                    margin: -60px auto 0;
                }
                h5{
                    margin: 0;
                    padding: 0; 
                    @include breakpoint (xlarge up) {
                        padding-bottom: 15px;
                    }  
                }
                p{
                    display: none;
                    @include breakpoint (xlarge up){
                        display: block;
                    }
                }
            }
            .product-text{
                text-align: center;
            }
        }
    }

}