#related{
    padding: 20px 15px 0;
    @include breakpoint (medium up) {
        padding: 0 40px;
    }
    @include breakpoint (xlarge up) {
        padding: 40px;
    }

    h3{
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 30px;
        @include breakpoint (large up) {
            font-size: 30px;
            padding-bottom: 50px;
        }
    }
    .related-wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include breakpoint (medium up) {
            padding: 0 40px;
        }
        @include breakpoint (large up) {

        }
        .related-item-wrapper{
            flex: 0 0 100%;

            .related-item{
                display: block;
                text-align: center;
                margin-bottom: 30px;
                opacity: 1;
                transition: .2s ease-in-out;
                &:hover{
                    opacity: .8;
                    transition: .2s ease-in-out;
                }
                img{
                    margin: 0 auto 10px;
                }
                p{
                    font-size: 14px;
                    font-family: 'Bahnschrift';
                    color: #000;
                    line-height: 14px;
                    @include breakpoint (large up) {
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
                @include breakpoint (medium up) {
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
        .slick-arrow{
            background: #fff;
            border-radius: 50%;
            outline: none;
            box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);
            transition: .2s ease-in-out;
            cursor: pointer;
            &:hover{
                background: #00726D;
                transition: .2s ease-in-out;
                &:before{
                    filter: brightness(0) invert(1);
                }
            }

        }
        .slick-prev, .slick-next{
            background: #fff;
            transform: translateY(-50%) rotate(180deg);
            left: -15px;
            transition: .2s ease-in-out;
            cursor: pointer;
            &:hover{
                background: #00726D;
                transition: .2s ease-in-out;
            }
            @include breakpoint (medium up) {
                left: 0px;
            }
            @include breakpoint (large up) {
            }
            &:before{
                background-size: 25%;
                @include breakpoint (medium up) {
                    width: 30px;
                    height: 30px;
                }
                @include breakpoint (large up) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .slick-next{
            left: unset;
            right: -15px;
            transform: translateY(-50%) rotate(0deg);
            @include breakpoint (medium up) {
                right: 0px
            }
            @include breakpoint (large up) {
                right: 0px;
            }
        }
    }
    
}